<chart caption='各分片核定情况test' xAxisName='分片x' yAxisName='户数y' showValues='0' numberPrefix=''>
    <styles>
    	<definition>
    		<style name='CanvasAnim' type='animation' param='_xScale' start='0' duration='1'/>
    	</definition>
    	<application>
        	<apply toObject='Canvas' styles='CanvasAnim'/>
        </application>   
    </styles>
    <categories>
     #foreach( $ct in $categories )
     <category label="${ct}" />
     #end
    </categories>
	#set($renderAs="")
    #foreach( $s in $series)
		#if($s.seriesName=="0") 
			#set($renderAs="renderAs=""Area""")
		#elseif($s.seriesName=="1") 
			#set($renderAs="renderAs=""Line""")
		#else
			#set($renderAs="")
		#end 
    	<dataset seriesName="$s.seriesName" $!renderAs>
    		#foreach( $v in ${s.orderedData} )  
    		<set value="$!v" />
			#end 
		</dataset>
	#end 
</chart> 