<chart caption='各分片核定情况' xAxisName='分片' yAxisName='户数' showValues='0' numberPrefix=''>
    <styles>
    	<definition>
    		<style name='CanvasAnim' type='animation' param='_xScale' start='0' duration='1'/>
    	</definition>
    	<application>
        	<apply toObject='Canvas' styles='CanvasAnim'/>
        </application>   
    </styles>
    <categories>
     #foreach( $ct in $categories )
     <category label="${ct}" />
     #end
    </categories>
	#set($renderAs="")
    #foreach( $s in ${series.keySet()})
		#if($s =="0") 
			#set($renderAs="rederAs=""Area""")
		#elseif($s =="1") 
			#set($renderAs="rederAs=""Line""")
		#else
			#set($renderAs="")
		#end 
    	<dataset seriesName="$s" $!renderAs>
    		#foreach( $v in ${series.get($s)} )  
    		<set value="$!v" />
			#end 
		</dataset>
	#end 
</chart> 